<div class="container">
    <div [ngStyle]="{ 'height.px':itemsSettings.viewportHeight }" 
         #wrapper 
         (scroll)="onTableScroll($event)"
         class="wrapper">
        <div [ngStyle]="{ 'height.px': scrollSettings.topOffsetHeight }"></div>
        <div class="list" 
             *ngFor="let item of renderedItems" 
             [ngStyle]="{ 'height.px': itemsSettings.itemHeight }">
             <div>{{ item }}</div>
        </div>
        <div [ngStyle]="{'height.px': scrollSettings.bottomOffsetHeight}"></div>
    </div>
</div>